# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Firebase (ÇOK ÖNEMLİ)
GoogleService-Info.plist
